body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/128/782/original/pexels-8moments-1323550-1.jpg?1718244238");
  background-size: auto;
  font-family: "Prompt", sans-serif;
}

h1 {
  text-align: center;
  color: #297ca9;
  font-size: 100px;
  font-weight: 800;
  font-style: italic;
  text-shadow: #ece6ac 1px 0 10px;
  margin: 20px 0;
  line-height: 120px;
}

footer {
  text-align: center;
}

.forecast-container {
  background: rgba(255, 255, 255, 0.4);
  max-width: 700px;
  margin: 15px auto;
  border-radius: 40px;
  padding: 30px;
}

.search-form {
  text-align: center;
}

#search-input {
  border: none;
  border-radius: 5px;
  width: 400px;
  padding: 10px 10px;
  font-size: 16px;
}

#search-button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  background: #f1bc58;
}
