body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/128/782/original/pexels-8moments-1323550-1.jpg?1718244238");
  background-size: auto;
  font-family: "Prompt", sans-serif;
}

h1 {
  text-align: center;
  color: #297ca9;
  font-size: 100px;
  font-weight: 800;
  font-style: italic;
  text-shadow: #ece6ac 1px 0 10px;
  margin: 20px 0;
  line-height: 120px;
}

.search-form {
  text-align: center;
}

#search-input {
  border: none;
  border-radius: 5px;
  width: 400px;
  padding: 10px 10px;
  font-size: 16px;
  color: rgb(79, 93, 102);
}

#search-button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  background: #f1bc58;
}

.forecast-container {
  background: rgba(255, 255, 255, 0.4);
  max-width: 625px;
  margin: 15px auto;
  border-radius: 40px;
  padding: 30px;
  border-bottom: 3px solid #297ca9;
  color: rgb(52, 67, 76);
}

#city {
  font-size: 55px;
  text-align: center;
  margin: 0;
}

#local-time {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.weather-data {
  display: flex;
  justify-content: space-evenly;
}

.weather-temperature-and-icon-container {
  display: flex;
}

#temperature {
  font-size: 175px;
  font-weight: 500;
}

#temperature-unit {
  font-size: 30px;
  position: relative;
  top: 65px;
}

#weather-icon {
  width: 125px;
  height: 125px;
  position: relative;
  top: 50px;
  right: 20px;
}

.weather-details {
  font-size: 16px;
  position: relative;
  top: 65px;
  left: 20px;
  border-left: 3px solid #297ca9;
  height: 150px;
  padding: 0 30px;
}

footer {
  text-align: center;
  color: rgb(79, 93, 102);
  font-size: 13px;
}

a {
  color: #297ca9;
}

.extended-weather-forecast {
  color: #34434c;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.extended-weather-day {
  font-weight: 600;
  font-size: 18px;
  padding: 5px;
}

.extended-weather-forecast-temperatures {
  font-size: 16px;
}

.extended-weather-forecast-min {
  opacity: 0.5;
}

.day-forecast {
  padding: 5px 30px;
  border-radius: 5px;
  background: rgba(80, 167, 209, 0.2);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
}

.day-forecast:hover {
  transform: scale(1.15);
}
