body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/128/782/original/pexels-8moments-1323550-1.jpg?1718244238");
  background-size: auto;
  font-family: "Prompt", sans-serif;
}

h1 {
  text-align: center;
  color: #297ca9;
  font-size: 100px;
  font-weight: 800;
  font-style: italic;
  text-shadow: #ece6ac 1px 0 10px;
  margin: 20px 0;
  line-height: 120px;
}

footer {
  text-align: center;
}

a {
  color: #297ca9;
}

.forecast-container {
  background: rgba(255, 255, 255, 0.4);
  max-width: 625px;
  margin: 15px auto;
  border-radius: 40px;
  padding: 30px;
  border-bottom: 3px solid #297ca9;
}

.search-form {
  text-align: center;
}

#search-input {
  border: none;
  border-radius: 5px;
  width: 400px;
  padding: 10px 10px;
  font-size: 16px;
}

#search-button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  background: #f1bc58;
}

.weather-data {
  display: flex;
  justify-content: space-evenly;
}

#city {
  font-size: 55px;
  text-align: center;
  margin: 0;
}

#local-time {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.weather-temperature-and-icon-container {
  display: flex;
}

#temperature {
  font-size: 175px;
  font-weight: 500;
}

#temperature-unit {
  font-size: 30px;
  margin-top: 50px;
}

#weather-icon {
  font-size: 100px;
  margin-top: 35px;
}

.weather-details {
  font-size: 16px;
  margin-top: 70px;
  border-left: 3px solid #297ca9;
  padding: 20px;
}
